{% extends "base_generic.html" %}

{% block info %}
    <strong>Books: </strong> {{ num_books }}
{% endblock %}

{% block content %}

<ul>
    {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'user-create' %}">Sign up</a></li>
    <li> <a href="{% url 'login' %}">Sign in</a></li>
    {% endif %}
</ul>
    
   
    <h2>Book list | <a href="{% url 'book-create' %}">add</a> </h2>

    {% if books %}
        <ul>

            {% for book in books %} 
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
            {% endfor %}

        </ul>
    {%else%}
        <p>no books, sorry</p>
    {% endif %}
{% endblock %}