{% extends "base_generic.html" %}

{% block info %}
    <strong>Books: </strong> {{ num_books }}
{% endblock %}

{% block content %}


    <h2><a href="{% url 'user_create' %}">create user</a></h2>
    <h2>Book list | <a href="{% url 'book_create' %}">add</a> </h2>

    {% if books %}
        <ul>

            {% for book in books %} 
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
            {% endfor %}

        </ul>
    {%else%}
        <p>no books, sorry</p>
    {% endif %}
{% endblock %}